.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  height: 10000px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content-block {
  margin-top: 1000px;
  width: 400px;
  text-align: left;
}

.content-block__eyebrow{
  font-family: Integral CF,Helvetica,Arial,sans-serif;
  font-size: .5625rem;
  line-height: 1;
  letter-spacing: .58em;
  text-transform: uppercase;
  opacity: 0;
  color: gray;
}

.content-block__title{
  font-family: Integral CF, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  line-height: .9;
  font-weight: 800;
  letter-spacing: -.02em;
  text-transform: uppercase;
  margin-top: 40px;
}

.line {
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: rotate3d(1,.15,0,-90deg) 
  /* translate3d(0,10px,0);
  transform-style: preserve-3d;
  transform-origin: 0 100%; */
}

.line2 {
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: rotate3d(1,.15,0,-90deg) 
  /*translate3d(0,10px,0);
  transform-style: preserve-3d;
  transform-origin: 0 100%; */
}

.content-block__text{
  color: var(--content-block-text);
  font-family: Neue Plak Extended, Helvetica, Arial, sans-serif;
  margin-top: 15px;
  font-size: .9375rem;
  line-height: 1.4;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0em;
  transform: translate3d(1.467px, 10px, -9.8894px) rotate(8.5307deg) rotateY(-8.5307deg) rotateX(-90deg);
  max-width: calc(calc(calc((min(100vw,calc(100vw - 100px)) - ((12 - 1) * 20px)) / 12) * 4) + 60px);
  opacity: 0;
  color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* translate3d(0.0004px, 0.0029px, -0.0028px) rotate(0.0025deg) rotateY(-0.0025deg) rotateX(-0.0259deg); opacity: 0.9997; visibility: inherit;"" */